.movie-item-wrapper {
  position: relative;
  app-rating {
    position: absolute;
    inset-inline-start: -8px;
    top: -5px;
  }
  
  .item-img-wrapper {
    margin-bottom: 4px;

    img {
      width: 100%;
      border-radius: 14px
    };
  }

  .movie-info {
    .movie-title {
      margin-bottom: 8px;
    }

    .movie-date {
      color: gray;
    }
  }
}